.add-content{
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.add-content .input-container input{
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
}
.results{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.movie{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
.movie .img{
    width: 100px;
    margin-right: 20px;
}
.btn {
    margin-right:15px ;
    float:bottom ;
}
.movie h3,.movie p{
    margin-bottom: 10px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
img{
    width: 100%;
}